[Unit]
Description=Readarr Daemon
After=syslog.target network.target

[Service]
Type=simple
{% if readarr_config.service.umask is defined and readarr_config.service.umask | length > 0 %}
UMask={{ readarr_config.service.umask }}
{% endif %}

User={{ readarr_config.user.name }}
Group={{ readarr_config.user.group }}
ExecStart={{ readarr_config.paths.base_dir }}/install/Readarr/Readarr -nobrowser -data={{ readarr_config.paths.data_dir }}
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target


