.directory
log
logs/*.log
node_backups/*
node_tests/*
*.retry

venv

# ignore borg keys
inventory/files/borg/*

# build process
vagrant/bake-base/**/*.box

# ignore default pybackup output
remote_backup
***/__pycache__/

#IDES
.idea/
*.iml

# vagrant
.vagrant
vagrant/*.log

# project
host_secrets/common.yaml
reports/lynis_audit/*.dat

# AI shenanigans
.tokensave
docs
