#!/usr/bin/env xdg-open
[Desktop Entry]
Name=PCSX2
GenericName=Playstation 2 Emulator
Comment=Sony Playstation 2 emulator
Exec="/opt/pcsx2/pcsx2-{{  pcsx2_config.version }}-linux-AppImage-32bit.AppImage"
Icon=/opt/pcsx2/icon.png
Terminal=false
Type=Application
Keywords=game;emulator;
Categories=Game;Emulator;






