[Unit]
Description=Lidarr Daemon
After=syslog.target network.target

[Service]
Type=simple
{% if lidarr_config.service.umask is defined and lidarr_config.service.umask | length > 0 %}
UMask={{ lidarr_config.service.umask }}
{% endif %}

User={{ lidarr_config.user.name }}
Group={{ lidarr_config.user.group }}
ExecStart={{ lidarr_config.paths.base_dir }}/install/Lidarr/Lidarr -nobrowser -data={{ lidarr_config.paths.data_dir }}
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target


