[Unit]
Description=Whisparr Daemon
After=syslog.target network.target

[Service]
Type=simple
{% if whisparr_config.service.umask is defined and whisparr_config.service.umask | length > 0 %}
UMask={{ whisparr_config.service.umask }}
{% endif %}

User={{ whisparr_config.user.name }}
Group={{ whisparr_config.user.group }}
ExecStart={{ whisparr_config.paths.base_dir }}/install/Whisparr/Whisparr -nobrowser -data={{ whisparr_config.paths.data_dir }}
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target


