[Unit]
Description=Prowlarr Daemon
After=syslog.target network.target

[Service]
Type=simple
{% if prowlarr_config.service.umask is defined and prowlarr_config.service.umask | length > 0 %}
UMask={{ prowlarr_config.service.umask }}
{% endif %}

User={{ prowlarr_config.user.name }}
Group={{ prowlarr_config.user.group }}
ExecStart={{ prowlarr_config.paths.base_dir }}/install/Prowlarr/Prowlarr -nobrowser -data={{ prowlarr_config.paths.data_dir }}
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target


